<h1>Olá, mundo!</h1>

<p>Bem-vindo ao seu novo aplicativo de página única, desenvolvido com:</p>

<ul>
   <li><a href='https://get.asp.net/'>ASP.NET Core</a> e <a href='https://msdn.microsoft.com/en-us/library/ 67ef8sbd.aspx'>C#</a> para código do lado do servidor de plataforma cruzada</li>
   <li><a href='https://angular.io/'>Angular</a> e <a href='http://www.typescriptlang.org/'>TypeScript</a> para o lado do cliente código</li>
   <li><a href='http://getbootstrap.com/'>Bootstrap</a> para layout e estilo</li>
</ul>

<p>Para ajudar você a começar, também configuramos:</p>

<ul>
   <li><strong>Navegação do lado do cliente</strong>. Por exemplo, clique em <em>Contador</em> e em <em>Voltar</em> para voltar aqui.</li>
   <li><strong>Integração Angular CLI</strong>. No modo de desenvolvimento, não há necessidade de executar <code>ng serve</code>. Ele é executado em segundo plano automaticamente, de modo que seus recursos do lado do cliente são criados dinamicamente sob demanda e a página é atualizada quando você modifica qualquer arquivo.</li>
   <li><strong>Construções de produção eficientes</strong>. No modo de produção, os recursos de tempo de desenvolvimento são desativados e sua configuração <code>dotnet publish</code> invoca automaticamente <code>ng build</code> para produzir arquivos JavaScript minificados e compilados antecipadamente.</li >
</ul>

<p>O subdiretório <code>ClientApp</code> é um aplicativo Angular CLI padrão. Se você abrir um prompt de comando nesse diretório, poderá executar qualquer comando <code>ng</code> (por exemplo, <code>ng test</code>) ou usar <code>npm</code> para instalar arquivos extras pacotes nele.</p>